body {
    background-color: #0E131C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}

.bio-container {
    background: #2B3A56;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 2rem;
}

.bio-header h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.bio-content p {
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify; 
}

.bio-images {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bio-image {
    border-radius: 5px;
    width: 100%;
    max-width: 600px; /* Puedes ajustar este valor según necesites */
    height: auto;
}
