@keyframes fadeIn {
    from { 
      opacity: 0; 
      transform: translateX(-50px); /* La tarjeta comienza 50px a la izquierda de su posición final */
  }
   to {  
   opacity: 1;
    transform: translateX(0);
  }
}
  .fade-in-card {
    animation: fadeIn 1s ease-in-out;
  }


   /* DERECHA*/
   @keyframes fadeInRight {
    from { 
      opacity: 0; 
      transform: translateX(100px); /* La tarjeta comienza 50px a la izquierda de su posición final */
  }
    to { 
    opacity: 1; 
    transform: translateX(0);
  }
}
  .fade-in-cardRight {
    animation: fadeInRight 1s ease-in-out;
  }

  /* CENTRO */
  @keyframes fadeInMiddle {
    from { 
      opacity: 0; 
      transform: scale(0.10); /* La tarjeta comienza 50px a la izquierda de su posición final */
  }
    to { 
    opacity: 1; 
    transform: scale(0);
  }
}
  .fade-in-cardMiddle {
    animation: fadeInMiddle 1s ease-in-out;
}

.categoria-imagen {
  width: 100px; /* Ancho fijo para todas las imágenes */
  height: 100px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Esto asegura que la imagen se recorte para ajustarse al tamaño, sin distorsionar */
  border-radius: 5px; /* Opcional: bordes redondeados */
  margin: 5px; /* Añade un margen alrededor de cada imagen */
  display: inline-block;
}

/* Estilos CSS */
.imagen-investigacion {
  max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */
  max-height: 500px; /* Altura máxima de la imagen */
  object-fit: cover; /* Ajusta la imagen al contenedor sin perder sus proporciones */
  margin-bottom: 10px; /* Espacio entre imágenes si hay más de una */
}

.contenedor-imagenes {
  display: flex; /* Utiliza Flexbox */
  justify-content: space-between; /* Separa las imágenes */
  flex-wrap: wrap; /* Permite que las imágenes se coloquen en filas adicionales si no caben */
}
