/* Acá va lo principal de la página */

body {
  background: url('../img/principal/bg.jpg') rgba(0, 0, 0, 0.7);
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  background-blend-mode: multiply;
}
  
.boton1{
     
    font-family: "Reboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: white;
    width: 250px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(53, 51, 51);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 123, 255, 0.5);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;  
  }

  .button-container {
    position: fixed; /* Posiciona el contenedor de forma fija */
    bottom: 50px; /* Ajusta el espacio desde el borde inferior */
    right: 200px; /* Ajusta el espacio desde el borde derecho */
  }

  

.boton1:hover, .add-investigation:focus {
    background: linear-gradient(to right, #0069d9, #3a87c2);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
  }
  
  .boton1:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 123, 255, 0.5);
  }

 



