/* Acá va lo principal de la página */

body {
  background: url('../img/principal/bg.jpg') rgba(0, 0, 0, 0.7);
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  background-blend-mode: multiply;
}
  
.boton1{
     
    font-family: "Reboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: rgb(93, 202, 68) !important;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #3B643B;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(31, 102, 17);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    top: 50%;
  
  }


  .card-group{
    width: 25%;
    margin: 0 auto; 
  }


  .text{
    background-color: rgb(35, 143, 35);
    text-decoration: #fff;
  }

  .img-fluid {
    width: auto; /* Hace que la imagen ocupe todo el ancho del contenedor */
    max-height: 700px; /* Ajusta esta altura según sea necesario */

    border-radius: 5px; /* Mantiene las esquinas redondeadas */
}

.card {
  text-align: center;
}

.imagenCentro img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio en línea debajo de la imagen */
  border: none; /* Elimina cualquier borde de la imagen */
  border-radius: 0; /* Elimina el redondeo en las esquinas */
}


.imagenCentro img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio en línea debajo de la imagen */
  border: none; /* Elimina cualquier borde de la imagen */
}


.container-fluid {
    padding: 0; /* Elimina el padding horizontal */
}






