body {
  background: url('../img/principal/bg.jpg') rgba(0, 0, 0, 0.7);
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  background-blend-mode: multiply;
}

.add-investigation {
    background: linear-gradient(to right, #007bff, #4b9cd3);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .add-investigation:hover, .add-investigation:focus {
    background: linear-gradient(to right, #0069d9, #3a87c2);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
  }
  
  .add-investigation:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 123, 255, 0.5);
  }

  .categoria-imagen {
    width: 100px; /* Ancho fijo para todas las imágenes */
    height: 100px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Esto asegura que la imagen se recorte para ajustarse al tamaño, sin distorsionar */
    border-radius: 5px; /* Opcional: bordes redondeados */
    margin: 5px; /* Añade un margen alrededor de cada imagen */
    display: inline-block;
}

td {
  text-align: center; /* Centrar texto horizontalmente */
  vertical-align: middle; /* Centrar texto verticalmente */
  padding: 10px; /* Añadir algo de espacio alrededor del contenido dentro de las celdas */
  word-wrap: break-word; /* Asegurarse de que el texto no desborde la celda */
  max-width: 150px; /* Poner un máximo ancho a las celdas para forzar el ajuste de texto */
}

/* Estilos para la modal */
.modal {
  display: none;  /* Inicialmente la modal está oculta */
  position: fixed;
  z-index: 1;  /* Asegura que la modal se muestre sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
  padding-top: 50px; /* Espacio desde la parte superior */
}

/* Estilos para el contenido de la modal */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 70%;  /* Ajuste de tamaño, más pequeño */
  max-width: 600px; /* Ajuste de tamaño máximo */
  position: relative;
  max-height: 80vh; /* Ajuste de altura máxima */
  overflow-y: auto; /* Permite el desplazamiento si las imágenes son muchas */
  border-radius: 8px;  /* Bordes redondeados opcionales */
}

/* Estilo de las imágenes dentro de la modal */
.modal-image-content {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  object-fit: contain; /* Asegura que las imágenes no se corten y se ajusten dentro del contenedor */
}

/* Estilo para el botón de cierre */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




  