body {
    background-color: #0E131C;
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    background-blend-mode: multiply;
  }

.icon-Image {
    height: 7rem;
}

.icon-Input {
    height: auto;
    width: 18px;
}

.icon-Google {
    height: 1.6rem;
}

.form-control.large-input {
    height: 3em; /* o cualquier valor que prefieras */
}

.size-Card {
    width: 28rem;
}

.remember {
    font-size: 0.9rem;
}

.forgot-Password {
    font-size: 0.9rem;
}

.div_or {
    height: 0.9rem;
}

.color-button{
    background: linear-gradient(to right, #007bff, #4b9cd3);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-weight: bold;

}

.color-button:hover, .add-investigation:focus {
    background: linear-gradient(to right, #0069d9, #3a87c2);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
  }
  
  .color-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 123, 255, 0.5);
  }

.color-icon{
    background: linear-gradient(to right, #007bff, #4b9cd3);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.5);
    
}

.text-color{
    color: black;
    
}

.text-color:hover{
    color: grey;
}